name: Remote Reausable Workflow Inputs & Secrets

on:
  workflow_call:
    inputs:
      tag: 
        type: string
    secrets: 
      dockerhub_username:
        required: true
      dockerhub_token:
        required: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Write something to log
        run: |
          echo "I am a reusable workflow ${{ inputs.tag }}- main branch!"
          echo "Username: ${{ secrets.dockerhub_username }}, password: ${{ secrets.dockerhub_token }}"

